@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif; 
    background:black;
    padding:10rem 2rem;
}
h2 {
  text-align: center;
  padding: 3rem;
  color: #4070f4;
  font-size: 3.5rem;
  margin-bottom:3rem;
} 
/* Slider */ 
.slick-slide {
  margin: 0px 10px;
} 
.slick-slide img {
  width: 100%;
}
/* Logo */
.logo {
    width: 210px;
    height: auto;
  }
  
  .logo img {
    display: block;
    width: 100%;
    height: auto;
  }
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;
  }
  a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
  color: #fff;
}
  /* Desktop Menu */
.desktop-main-menu {
    margin-right: 50px;
  }
  
  .desktop-main-menu ul {
    display: flex;
  }
  
  .desktop-main-menu ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
  }
  
  /* Menu item bottom border */
  .desktop-main-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
  }
  
  .desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
  }
/* Footer */
footer {
    position: relative;
    padding: 55px 0;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer ul li {
    margin-right: 30px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.5;
  }
  
  footer ul li a {
    color: #fff;
    transition: color 0.6s;
  }
  
  footer ul li a:hover {
    color: #aaa;
  }