@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{

  width: 100%;
  padding: 90px 0;
  background: black;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #fff;
}
/* Logo */
.logo {
    width: 210px;
    height: auto;
  }
  
  .logo img {
    display: block;
    width: 100%;
    height: auto;
  }
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  
  ul {
    list-style: none;
  }
  /* Desktop Menu */
.desktop-main-menu {
    margin-right: 50px;
  }
  
  .desktop-main-menu ul {
    display: flex;
  }
  
  .desktop-main-menu ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
  }
  
  /* Menu item bottom border */
  .desktop-main-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
  }
  
  .desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
  }
  .btn:hover span {
    color: #000;
  }
  
  .btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .btn:hover .hover {
    transform: translateY(0);
  }
  
  .scroll-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeBounce 5s infinite;
  }
  footer {
    position: relative;
    padding: 55px 0;
    background-color: #000;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer ul li {
    margin-right: 30px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.5;
  }
  
  footer ul li a {
    color: #fff;
    transition: color 0.6s;
  }
  
  footer ul li a:hover {
    color: #aaa;
  }